body {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    background-color: #e6e4e4;
}

.container {
    max-width: 1000px;
    margin: 0 auto;
    padding: 20px;
    color: #ececec;
}
.header {
    background-color: #f3f3f3;
    text-align: center;
    padding: 40px 0;
}


h1 {
    font-size: 24px;
    margin-bottom: 10px;
    color: #e6dede;
}

p {
    font-size: 14px;
    line-height: 1.5;
    color: #f8f8f8;
}

.video {
    background-color: hwb(0 42% 58%);
    padding: 40px 0;
    color: hwb(0 42% 58%);
}

iframe {
    width: 100%;
    height: 360px;
    margin-bottom: 20px;
    color: #c5afaf;
}

.application {
    background-color: hwb(0 42% 58%)
    ;
    padding: 40px 0;
}

form {
    display: flex;
    flex-direction: column;
    width: 500px;
    margin: 0 auto;
}

input {
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #fffefe;
}

button {
    background-color: #c5afaf;
    color: #ffffff;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
}

footer {
    background-color: #080808;
    color: #b10303;
    text-align: center;
    padding: 20px 0;
} 
body {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    background-color: hwb(0 42% 58%);
}

.container {
    max-width: auto;
    margin: 0 auto;
    padding: 20px;
    color: 
}


img {
    width: 200px;
    height: auto;
    margin-bottom: 20px;
}

h1 {
    font-size: 24px;
    margin-bottom: 10px;
}

p {
    font-size: 14px;
    line-height: 1.5;
    color: ;
}

.about {
    background-color: hwb(0 42% 58%);
    padding: 40px 0;
}

.reviews {
    background-color: hwb(0 42% 58%);
    padding: 40px 0;
}

.review {
    border: 1px solid #ddd9d9;
    padding: 20px;
    margin-bottom: 20px;
}

.contacts {
    background-color: hwb(0 42% 58%)  ;
    padding: 40px 0;
}



.main{
    max-width: 2000px;
    margin: 0 auto;
    padding: 20px;
    min-height: 100vh;
    background-image: url("main-background.png");
    background-repeat: no-repeat; /* Optional: controls how the image repeats */
    background-position: center; /* Optional: controls image placement */
    background-size: cover; /* Optional: controls image size */
    
}
.main-title{
    position: relative;
    color: rgb(255, 255, 255);
    text-align: center;
    font-size: 40px;
    margin-bottom: 50px;
}